.link {
  --color: var(--accent-color);

  color: var(--color);
  position: relative;
  transition: 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: var(--color);
    transition: 0.3s;
  }

  &::before {
    right: 50%;
  }

  &::after {
    left: 50%;
  }

  @media (hover: hover) {
    &:hover {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  &.inText {
    &::before,
    &::after {
      width: 50%;
      height: 1px;
      bottom: -2px;
    }

    @media (hover: hover) {
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.file {
  --color: var(--accent-color);
  --hover-color: var(--text-color);

  border: 1px solid var(--color);
  border-radius: 5px;
  padding: 3px 5px;

  color: var(--color);
  background-color: transparent;

  transition: 0.3s;

  @media (hover: hover) {
    &:hover {
      color: var(--hover-color);
      background-color: var(--color);
    }
  }
}

.chip {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 5px;
  border-radius: 5px;
  position: relative;
  transition: 0.2s;

  & input {
    appearance: none;
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(1.1);
    }
  }

  &:has(input:checked) {
    background-color: var(--accent-color);
    color: var(--text-color);
  }
}
