.title {
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 10px;
  line-height: 24px;
}

.accent {
  color: var(--accent-color);
}

.link {
  &::before,
  &::after {
    width: 50%;
    bottom: 0;
    height: 1px;
  }
}
