.header {
  padding: 20px 10px;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;

  &.scrolled {
    background: var(--second-bg-color);
    padding: 10px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.locale {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
