.footer {
  --footer-color: #bcbcbc;
  color: var(--footer-color);
  font-size: 14px;
  padding: 10px;
  margin-top: auto;

  .link {
    --color: var(--footer-color);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
