.main {
  margin-top: 20px;
}

.content {
  display: grid;
  grid-template-areas:
    "image title contacts"
    "skills about languages"
    "skills education .";
  gap: 20px;

  @media (max-width: 990px) {
    grid-template-areas:
      "image title contacts"
      "languages about about"
      "skills about about"
      "skills education education";
  }

  @media (max-width: 800px) {
    grid-template-areas:
      "image title title"
      "contacts contacts languages"
      "skills skills skills"
      "about about about"
      "education education education ";
  }

  @media (max-width: 550px) {
    grid-template-areas:
      "image image image"
      "title title title"
      "contacts contacts languages"
      "skills skills skills"
      "about about about"
      "education education education ";
  }

  @media (max-width: 450px) {
    grid-template-areas:
      "image"
      "title"
      "contacts"
      "languages"
      "skills"
      "about"
      "education";
  }
}

.section {
  border-radius: 5px;

  &:target {
    background-color: var(--second-bg-color);
  }
}

.sectionTitle {
  margin-bottom: 10px;
}

.image {
  grid-area: image;
}

.title {
  grid-area: title;
}

.contacts {
  grid-area: contacts;
}

.avatar {
  border-radius: 5px;
  box-shadow: 5px 5px var(--accent-color);
}

.name {
  font-size: 52px;
}

.job {
  font-size: 32px;
  color: var(--accent-color);
}

.skills {
  grid-area: skills;
  height: 100%;
}

.about {
  grid-area: about;
}

.languages {
  grid-area: languages;
}

.education {
  grid-area: education;
}
