.main {
  margin-top: 20px;
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 200px auto;
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 200px auto;
  }

  @media (max-width: 670px) {
    grid-template-rows: 1fr 200px auto;
  }

  @media (max-width: 545px) {
    grid-template-columns: 1fr;
  }
}

.section {
  border-radius: 5px;

  &:target {
    background-color: var(--header-bg-color);
  }
}

.hero {
  grid-column-end: span 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.avatar {
  border-radius: 5px;
  box-shadow: 5px 5px var(--accent-color);
}

.name {
  font-size: 52px;
}

.job {
  font-size: 32px;
  color: var(--accent-color);
}

.skills {
  height: 100%;

  @media (max-width: 670px) {
    grid-column-end: span 2;
  }

  @media (max-width: 545px) {
    grid-column-end: 1;
  }
}

.about {
  @media (max-width: 1024px) {
    grid-column-end: span 2;
  }

  @media (max-width: 545px) {
    grid-column-end: 1;
  }
}
